<h2>Sign up</h2>

  <%= form_with model: @member, url: member_registration_path, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<table class="table">
  <div class="field">
      <tr>
       <th><%= f.label :（姓） %></th>
       <th><%= f.text_field :last_name,autofocus: true, placeholder:"山田", class: 'form-control' %></th>
       <th><%= f.label :（名） %></th>
       <th><%= f.text_field :first_name,autofocus: true, placeholder:"太郎", class: 'form-control' %></th>
      </tr>
     </div>

     <div class="field">
      <tr>
       <th><%= f.label :（セイ） %></th>
       <th><%= f.text_field :last_name_kana,autofocus: true,placeholder:"ヤマダ", class: 'form-control' %></th>
       <th><%= f.label :（メイ） %></th>
       <th><%= f.text_field :first_name_kana,autofocus: true,placeholder:"タロウ", class: 'form-control' %></th>
      </tr>
     </div>

  <div class="field">
    <tr>
    <th><%= f.label :メールアドレス %></th>
    <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
   </tr>
  </div>

  <div class="field">
     <tr>
     <th><%= f.label :パスワード（６文字以上） %></th>
     <th><%= f.password_field :password, autocomplete: "new-password" %></th>
  </div>

  <div class="field">
    <tr>
     <th><%= f.label :パスワード（確認用） %></th>
     <th><%= f.password_field :password_confirmation, autocomplete: "new-password" %></th>
    </tr>
  </div>

  <div class="actions">
    <tr>
     <th><%= f.submit "新規登録" %></th>
     </tr>
  </div>
<% end %>
     </table>


<%= render "devise/shared/links" %>
