<div class="container-log-in-content d-flex flex-column align-items-center justify-content-center mt-5 pt-5">
  <h4 class="text-center mt-3">楽団代表者の新規登録<br>(楽団の代表者の方が行ってください)</h4>
  <form>
    <%= form_with model: @member, url: member_registration_path, local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-row mt-5">
      <div class="form-group col-md-6">
        <label for="last_name mb-0 pb-0"><h5><%= f.label :（姓） %></h5></label>
        <h5><%= f.text_field :last_name,autofocus: true, placeholder:"山田", class: 'form-control', style: "width:90%" %></h5>
      </div>
      <div class="form-group col-md-6">
        <label for="first_name4"><h5><%= f.label :（名） %></h5></label>
        <h5><%= f.text_field :first_name,autofocus: true, placeholder:"太郎", class: 'form-control', style: "width:90%" %></h5>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="last_name4"><h5><%= f.label :（セイ） %></h5></label>
        <h5><%= f.text_field :last_name_kana,autofocus: true,placeholder:"ヤマダ", class: 'form-control', style: "width:90%" %></h5>
      </div>
      <div class="form-group col-md-6">
        <label for="first_name4"><h5><%= f.label :（メイ） %></h5></label>
        <h5><%= f.text_field :first_name_kana,autofocus: true,placeholder:"タロウ", class: 'form-control', style: "width:90%" %></h5>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-10">
        <label for="e-mail4"><h5><%= f.label :メールアドレス %></h5></label>
        <h5><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@gmail.com", class: 'form-control', style: "width:90%"  %></h5>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-10">
        <label for="e-mail4"><h5><%= f.label :"パスワード(6文字以上)" %></h5></label>
        <h5><%= f.password_field :password, autocomplete: "new-password", class: 'form-control', style: "width:90%" %></h5>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-10">
        <label for="e-mail4"><h5><%= f.label :パスワード（確認用） %></h5></label>
        <h5><%= f.password_field :password_confirmation, autocomplete: "new-password",  class: 'form-control', style: "width:90%" %></h5>
      </div>
    </div>

    <div class="actions text-center">
      <%= f.submit "新規登録", class: 'btn btn-primary mb-5' %>
    </div>
    <% end %>
  </form>
</div>

<div class="container-sign-in-content pb-5">
  <h4 class="text-center"><ins><既に登録済みの方></ins></h4>
  <h5 class="text-center"><ins><%=link_to 'こちら', member_session_path %></ins>からログインしてください。</h5>
</div>
</div>