<div class="container-log-in-content d-flex flex-column align-items-center justify-content-center" style="height:500px;">
  <h2>団員ログイン</h2>
  <%= form_with model: @member, url: member_session_path, local: true do |f| %>
    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

  　<% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :メールアドレスとパスワードを記憶する %>
    </div>
    <% end %>

  　<div class="actions">
    　<%= f.submit "ログイン",class: "btn btn-primary" %>
  　</div>
　<% end %>

　<%= render "devise/shared/links" %>
</div>