<h1><%= @orchestra.orchestra_name %>の練習出欠確認</h1>

<%if current_member.orchestra_managers.where(leader: true, orchestra_id: @training_day.orchestra_id).exists? %>
  <%= form_with model: @training_day, url: orchestra_training_days_path(@training_day.orchestra_id), local: true do |f| %>
   <label for="training_day_datetime">練習日</label><br>
     <%= f.datetime_field :training_day %><br>
   <label for="training_day_title">タイトル</label><br>
     <%= f.text_field :title %><br>
   <label for="training_day_body">本文</label><br>
     <%= f.text_field :body %><br>
   <%= f.hidden_field :orchestra_id %>
   <%= f.submit '新規登録' %>
  <% end %>
<% end %>

<% @orchestra.training_days.each do |training_day| %>
  <%= link_to training_day.title, orchestra_training_day_path(orchestra_id: training_day.orchestra_id, id: training_day.id) %>
  <%= link_to training_day.training_date, orchestra_training_day_path(orchestra_id: training_day.orchestra_id, id: training_day.id) %><br>
  <%if current_member.orchestra_managers.where(leader: true).exists? %>
    <%= link_to '編集', edit_orchestra_training_day_path(orchestra_id: training_day.orchestra_id, id: training_day.id) %>
    <%= link_to '削除', orchestra_training_days_path(orchestra_id: training_day.orchestra_id, id: training_day.id), method: :delete %><br>
   <% else %>
  <% end %>
<% end %>
