<%= render'members/list' %>
<h2 class="text-center mt-5 pb-0 text-dark"><ins><%= @orchestra.orchestra_name %>の練習出欠確認</ins></h2>
<%= render'orchestras/list',orchestra: @orchestra %>

<div class="col-12 col-md-9">
  <%if current_member.orchestra_managers.where(leader: true, orchestra_id: @training_day.orchestra_id).exists? %>
  <%= form_with model: @training_day, url: orchestra_training_days_path(@training_day.orchestra_id), local: true do |f| %>
  <div class="form-group col-md-9 text-center">
    <label for="training_day_datetime">練習日時</label><br>
    <%= f.datetime_field :training_day, style: "text-center" %>
  </div>

  <div class="form-group col-11 col-md-9 text-center ">
    <label for="training_day_title col-md-text-left">タイトル</label><br>
    <h5><%= f.text_field :title, style: "width:85% text-center"%></h5>
  </div>

  <div class="form-group col-md-9 text-center">
    <label for="training_day_body">本文</label><br>
    <%= f.text_area :body, style: "width:90%" %>
    <%= f.hidden_field :orchestra_id %>
  </div>

  <div class="actions ml-3 text-center">
    <%= f.submit '新規登録', class: 'btn btn-success' %>
  </div>
  <% end %>
  <% end %>
</div>
</div>

<div class="row">
  <% @training_days.each do |training_day| %>
    <div class="col-12 col-md-3 md-ml-5">
      <div class="card text-center m-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-reset">  <%= link_to training_day.title, orchestra_training_day_path(orchestra_id: training_day.orchestra_id, id: training_day.id) %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= link_to training_day.training_date, orchestra_training_day_path(orchestra_id: training_day.orchestra_id, id: training_day.id) %></h6>
          <%if current_member.orchestra_managers.where(leader: true).exists? %>
          <p class="card-text">
          <%= link_to '編集', edit_orchestra_training_day_path(orchestra_id: training_day.orchestra_id, id: training_day.id), class: "btn btn-primary btn-sm " %>
          <%= link_to '削除', orchestra_training_day_path(orchestra_id: training_day.orchestra_id, id: training_day.id), method: :delete, class: "btn btn-danger btn-sm " %>
          </p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

