<h1>楽器パート一覧</h1>
<% @instruments.each do |instrument| %>
<%= instrument.name %>
<%= link_to '編集',edit_instrument_path(instrument.id) %>
<%= link_to '削除',instrument_path(instrument.id), method: :delete %>
<% end %>

<%= form_with model: @instrument, url: '/instruments', local: true do |f| %>
<label for="instrument_name">パート名</label><br>
  <%= f.text_field :name %>
<%= f.submit '新規登録' %>
<% end %>