<div class="hidden alert-primary text-center"><%= flash[:notice] %></div>

<h2 class="text-center mt-5 pb-0 text-dark"><ins><%=@instrument.name %>パート詳細ページ <%= @instrument.members.count %>人</ins></h2>

<%= render'orchestras/list',orchestra: @orchestra %>

<div class="col-md-9 float-left">
<% if @instrument.members.exclude?(current_member) %>
  <%= link_to 'パートに参加する', join_orchestra_instrument_path(orchestra_id: @instrument.orchestra_id, id: @instrument.id), class: "btn btn-success btn-sm text-white" %>
<% end %>
<% @instrument.members.each do |member|%>
  <h5 class="text-dark">・<ins><%= member.full_name %></ins></h5>
  <% if member == current_member || current_member.orchestra_managers.where(leader: true,orchestra_id: @instrument.orchestra_id).exists? %>
   <%= link_to '不参加にする', disjoin_orchestra_instrument_path(orchestra_id: @instrument.orchestra_id, id: @instrument.id),method: :delete, class: "btn btn-danger btn-sm text-white mb-4 mt-0" %><br>
  <% else %><br>
  <% end %>
<% end %><br>
<%= link_to 'パート一覧へ戻る', orchestra_instruments_path(orchestra_id: @instrument.orchestra_id), class: "btn btn-primary btn-sm text-white" %>

</div>
</div>
</div>