<!DOCTYPE html>
<html>
  <head>
    <title>GakudanNoWa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
　　<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body class="d-flex flex-column vh-25">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag('logo_4.png') %></a>
          <p class="col-md-5 text-white">アマチュア楽団・合唱団のためのSNSサイト</p>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto d-flex align-items-center">
            <% if member_signed_in? %>
              <li>
               <%= link_to "マイページ",members_my_page_path,class: 'fas fa-home nav-link text-light' %>
              </li>
              <li>
               <%= link_to "ログアウト", destroy_member_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-light' %>
              </li>
            <% else %>
              <li>
               <%= link_to "ログイン", member_session_path,class: 'fas fa-sign-out-alt nav-link text-light' %>
              </li>
    <% end %>
    </ul>
     </div>
    </div>
   </nav>
  </header>
    <%= yield %>
  </body>
</html>
