<!DOCTYPE html>
<html>
  <head>
    <title>GakudanNoWa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if member_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_member_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "ログイン", member_session_path %>
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
