<!DOCTYPE html>
<html>
  <head>
    <title>GakudanNoWa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
　　<meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <%= stylesheet_link_tag    'main/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'main/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container mt-0">
          <div class="navbar-brand pt-0 pl-5 mr-0" href="/"><%= image_tag('logo.3.0.png') %></div>
          <h5 class="col-3 text-dark">楽団のためのSNSサイト</h5>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto d-flex align-items-end">
            <% if member_signed_in? %>
              <li>
               <%= link_to "マイページ",members_my_page_path,class: 'fas fa-home nav-link text-dark' %>
              </li>
              <li>
               <%= link_to "ログアウト", destroy_member_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-dark' %>
              </li>
            <% else %>
              <li>
               <%= link_to "ログイン", member_session_path,class: 'fas fa-sign-out-alt nav-link text-dark' %>
              </li>
              <li>
               <%= link_to "楽団の利用申請", new_member_registration_path,class: 'fas fa-solid fa-pen-fancy nav-link text-dark' %><br>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
   <%= yield %>
  </body>
</html>
