<h1> <%= @orchestra.orchestra_name %>の団員一覧</h1>
<div class="alert　hidden alert-primary text-center"><%= flash[:notice] %></div>

<% @orchestra.members.each do |member| %>
<%= member.full_name %>
<%#= member.orchestra_managers.is_active_i18n %><br>
<% if member == current_member || current_member.orchestra_managers.where(leader: true,orchestra: @orchestra).exists? %>

<%= link_to '退団する', retire_orchestra_member_path(@orchestra.id, id: member.id),method: :delete %>
<%= link_to '休団する', rest_orchestra_member_path(@orchestra.id, id: member.id),method: :patch %><br>
<%= link_to '復帰する', return_orchestra_member_path(@orchestra.id, id: member.id) %><br>

<% end %>
<% end %>

