<%= render'members/list' %>
<h2 class="text-center mt-5 pb-0 text-dark"><ins><%= @orchestra.orchestra_name %>の団員一覧</ins></h2>
<%= render'orchestras/list',orchestra: @orchestra %>

<div class="table-responsive-sm mt-3 col-lg-8">
  <table class="table table-striped bg-white">
    <tr>
      <% @orchestra.members.each do |member| %>
      <th class="col-4"><h5><%= member.full_name %></h5></th>
        <% member.orchestra_managers.each do |orchestra_manager| %>
          <% if @orchestra.id == orchestra_manager.orchestra_id %>
          <th scope="auto"><h5><%= orchestra_manager.is_active_i18n %></h5></th> 
          <% end %>
        <% end %>
        <% if member == current_member || current_member.orchestra_managers.where(leader: true,orchestra: @orchestra).exists? %>
          <th scope="auto"><%= link_to '休団する', orchestra_manager_path(orchestra_id: @orchestra.id, id: member.id,is_active: OrchestraManager.is_actives[:rest]),method: :patch, class: "btn btn-primary btn-sm " %></th>
          <th scope="auto"><%= link_to '退団する', orchestra_manager_path(orchestra_id: @orchestra.id, id: member.id,is_active: OrchestraManager.is_actives[:retire]),method: :patch, class: "btn btn-danger btn-sm " %></th>
          <th scope="auto"><%= link_to '復団する', orchestra_manager_path(orchestra_id: @orchestra.id, id: member.id,is_active: OrchestraManager.is_actives[:active]),method: :patch, class: "btn btn-success btn-sm " %></th>
        <% end %>
    </tr>
    <% end %>
  </table>
</div>
</div>
