<%= render'members/list' %>
<h2 class="text-center mt-5 pb-0 text-dark"><ins><%= @orchestra.orchestra_name %>の団員一覧</ins></h2>

<%= render'orchestras/list',orchestra: @orchestra %>

<div class="col-md-9 float-left">
<% @orchestra.members.each do |member| %>
<h5 class="text-dark">・<ins><%= member.full_name %></ins>
<% member.orchestra_managers.each do |orchestra_manager| %>
<% if @orchestra.id == orchestra_manager.orchestra_id %>
(<%= orchestra_manager.is_active_i18n %>)</h5>
<% end %>
<% end %>

<% if member == current_member || current_member.orchestra_managers.where(leader: true,orchestra: @orchestra).exists? %>

<%= link_to '休団する', orchestra_manager_path(orchestra_id: @orchestra.id, id: member.id,is_active: OrchestraManager.is_actives[:rest]),method: :patch, class: "btn btn-primary btn-sm text-white mb-4 mt-0" %>
<%= link_to '退団する', orchestra_manager_path(orchestra_id: @orchestra.id, id: member.id,is_active: OrchestraManager.is_actives[:retire]),method: :patch, class: "btn btn-danger btn-sm text-white mb-4 mt-0" %>
<%= link_to '復団する', orchestra_manager_path(orchestra_id: @orchestra.id, id: member.id,is_active: OrchestraManager.is_actives[:active]),method: :patch, class: "btn btn-success btn-sm text-white mb-4 mt-0" %><br>

<% end %>
<% end %>
</div>

</div>
</div>

