<%= render'members/list' %>
<h2 class="text-center mt-5"><ins>マイページ</ins></h2>
<div class="container d-flex flex-column align-items-center justify-content-center">

  <div class="row mt-0 ml-3 d-flex flex-column align-items-center">
    <div class="name col-12">
      <div class="font-weight-bolder col-10 mt-3">氏名</div>
        <div class="col-10">
          <%= @member.full_name %>
        </div>
    </div>
    <div class="name-kana col-12">
      <div class="font-weight-bolder col-10 mt-3">カナ</div>
      <div class="col-6">
        <%= @member.full_name_kana %>
      </div>
    </div>
    <div class="e-mail col-12">
      <div class="font-weight-bolder col-10 mt-3">メールアドレス</div>
      <div class="col-6">
        <%= @member.email %>
      </div>
    </div>
    <div class="btn mb-5">
      <%= link_to '編集する', members_edit_page_path, class: "btn btn-success mt-3" %>
    </div>

    <div class="col-12 mt-5 px-0 d-flex flex-column align-items-center">
      <h4 class="font-weight-bold">所属楽団</h4>
      <% @member.orchestra_managers.each do |orchestra_manager| %>
        ★<%= orchestra_manager.orchestra.orchestra_name %>
        <% if orchestra_manager.leader == true %>
          (代表者)
        <% else %>
          (一般団員)
        <% end %>
       (<%= orchestra_manager.is_active_i18n %>)
       <% if orchestra_manager.orchestra.approve_flag && orchestra_manager.active? || orchestra_manager.rest? %>
         <%= link_to '楽団ページへ',orchestra_path(orchestra_manager.orchestra_id), class: "btn btn-primary btn-sm" %><br><br>
       <%else %>
         <br><br>
       <% end %>
      <% end %>
    </div>
  </div>
