<h1>マイページ</h1>
氏名: <%= @member.full_name %><br>
カナ: <%= @member.full_name_kana %><br>
メールアドレス: <%= @member.email %><br>
所属楽団：<% @member.orchestra_managers.each do |orchestra_manager| %>
<%= orchestra_manager.orchestra.orchestra_name %>
<% if orchestra_manager.leader == true %>
(代表者)<br>
<% else %>
(一般団員)<br>
<% end %>
<%= orchestra_manager.is_active_i18n %><br>
<% if orchestra_manager.orchestra.approve_flag == true && orchestra_manager.is_active =="active" || orchestra_manager.is_active =="rest" %>

<%= link_to '楽団ページへ',orchestra_path(orchestra_manager.orchestra_id) %><br><br>
<% else %>
<br>
<% end %>
<% end %>

 <%= link_to '編集する', members_edit_page_path, class: "btn btn-primary btn-sm text-white ml-4" %>
